.active{
    /* background-color: rgb(174, 198, 179); */
    border-radius: 1rem;
}

.nav-second {
    background-color: white;
    position: sticky;
    display: flex;
    top: 0;
    color: rgb(0, 0, 0);
    z-index: 1000;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px; 
}

.links {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.links:hover{
    color: rgb(54, 120, 53);
    transition: 0.3s ease-in-out;

}
.links:not(.active):hover{
    background-color: aliceblue;
}
.links:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
nav ul{
    display: flex;

}
nav .menu{
display: none;
position: absolute;
top: 0.75rem;
right: 0.5rem;
flex-direction: column;
justify-content: space-between;
width: 2.24rem;
height: 2rem;
}

nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: #ba2727;
    border-radius: 0.2rem;
}

@media (max-width: 480px){
    nav .menu{
        display: flex;
    }

    nav{
        flex-direction: column;
        align-items: start;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open{
        display: flex;
    }

    nav ul li{
        width: 100%;
        text-align: center;
    }

}
.title{
    position: relative;
    text-decoration: none;
    font-family: "Falcons Font";
    font-size: large;
    background-color: rgb(23, 23, 127);
    color: #ffff;
    
}
.falcones{
    font-family: "Falcons Font", serif;
    letter-spacing: 14px;
    color: rgb(255, 253, 253);
    font-size: 5vh;

  }
