.section-white {
  background: #fff;
  padding: 70px 0;
}

.team-item {
  background: #000000;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
  position: relative;
}

.team-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.team-item:hover {
  background: #3956de;
  color: rgb(0, 0, 0);
}

.team-item h3 {
  margin: 15px 0 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.team-info {
  font-family: "Rajdhani", sans-serif;
  color: #acacac;
  padding: 10px;
}

.team-footer {
  background-color: #fafafa;
  padding: 10px;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.team-footer:hover {
  background-color: #ebebeb;
}

.more-info {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255,179,0);
background: linear-gradient(0deg, rgba(255,179,0,1) 0%, rgba(223,174,90,1) 100%);
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%;
  max-width: 400px;
  text-align: center;
  
}

.more-info.active {
  display: block;
  color: #ffffff;
}

.more-info-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.small-img {
  width: 100px;
  height: auto;
  margin: 10px 0;
  border-radius: 50%;
  object-fit: cover;
}
#player{
  font-family: "FalconsFont", serif;
  background: rgb(255,179,0);
background: linear-gradient(0deg, rgba(255,179,0,1) 0%, rgba(223,174,90,1) 100%);
  -webkit-background-clip: text;
  color: transparent;
}