.slider-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
}

.slider {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.footer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 15px;
  text-align: center;
  margin-top: -50px;
  z-index: 5;
}

.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer p {
  font-size: 1rem;
}

.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slider:hover .arrows {
  opacity: 1;
}

.arrows button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #333;
  transition: background-color 0.3s ease;
}

.arrows button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#prev {
  position: absolute;
  left: 20px;
}

#next {
  position: absolute;
  right: 20px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 0 5px;
}

.thumbnail.active, 
.thumbnail:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .slider-container {
    width: 100%;
  }

  .footer h2 {
    font-size: 1.2rem;
  }

  .footer p {
    font-size: 0.9rem;
  }

  .arrows button {
    width: 30px;
    height: 30px;
  }

  .thumbnail {
    width: 60px;
    height: 60px;
  }
}

.contact-in {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 70px;
  transition: box-shadow 0.3s ease-in-out;
}

.contact-in:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 10px;
}

.googlemap {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.contact-form h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.contact-info {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .contact-in {
    flex-direction: column;
  }

  .contact-map, .contact-form {
    width: 100%;
    padding: 10px;
  }

  .contact-form h1 {
    font-size: 1.8rem;
  }

  .contact-button {
    width: 100%;
    text-align: center;
  }
}

