/* Style for the top navbar */
.top-navbar {
    /* position:fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #555;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    transition: transform 0.3s ease-in-out; */
  }
  
  /* Style for the scroll navbar */
  /* .scroll-navbar {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #003e1e;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
  } */
  
  /* Initially hidden state for the scroll navbar */
  .hidden {
    transform: translateY(-100%);
  }
  
  /* Visible state for the scroll navbar */
  .visible {
    transform: translateY(0);
  }
  