/* * {
  box-sizing: border-box;
}
#root{
  max-width: 100vw;
  overflow-x: hidden;
} */
.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100vw;
}

.holder-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100vw;
}

.policy-div, .register-div {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.policy-div {
  background-color: #f9f9f9;
}

.register-div {
  background-color: #333;
  color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}

@media (max-width: 768px) {
  .holder-div {
    flex-direction: column;
  }

  .policy-div, .register-div {
    flex: none;
    width: 100%;
  }
}

.button-85:disabled {
  background-color: #555;

  cursor: not-allowed;
}
.button-85{
  background-color: #333;
  color: #f9f9f9;
}
.tlt{
  font-family: "FalconsFont", serif;
  background: linear-gradient(0deg, rgba(232,34,34,1) 0%, rgba(52,3,3,1) 100%);
  -webkit-background-clip: text;
  color: transparent;}
.messg{
  margin-top: 5rem;
  font-family: "Rajdhani", sans-serif;
  color: #ffff;

}
.theFormLink{
  text-decoration: none;
  
}
#foto{
  display: flex;
  width: 20rem;
}




